:root{
     --white: #e9e9e9;
     --gray:#333;
     --blue:#1e90ff;
     --blue1:#0367a6;
     --lightblue:#008997;
     --black:#192a56;
     /* Outer Border Fillet Properties*/
     --button-radius:0.7rem;

     --max-width:758px;
     --max-height:420px;

     font-family: -apple-system, BlinkMacSysten, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
  font-family: Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}
html{
    overflow-x: auto;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
  }
body{
        align-items: center;
        background-color: var(--white);
        background: url(./img/background_picture.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid; 
        height: 100vh;
        place-items: center;
}

/* Define input box error style */
.error {
  border: 1px solid rgba(242, 238, 238, 0.911); 
  background-color: transparent; 
  color: red; 
}

/* Define input box error-message style */
.error-message{
  border: 1px solid rgba(246, 242, 242, 0.932); 
  background-color: transparent; 
  color: red; 
}


.container{
    background-color: var(--white);
    border-radius: var(--button-radius);
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 25);
    height: var(--max-height);
    max-width: var(--max-width);
    overflow: hidden;
    position: relative;
    top: 150px;
    width: 100%;
}

.from_title{
    font-weight: 300;
    margin: 0;
    margin-bottom: 1.25rem;
}

.link{
    color: var(--gray);
    font-size: 0.9rem;
    margin: 1.5rem 0;
    text-emphasis: none;
}

.container_from{
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.container--signin{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .container--signin{
    transform: translateX(100%);
}

.container--signup{
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

.container.right-panel-active .container--signup{
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}

.container_overlay{
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
}

.container.right-panel-active .container_overlay{
    transform: translateX(-100%);
}

.overlay{
    background-color: var(--lightblue);
    background: url(./img/background_picture.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
}

.container.right-panel-active .overlay{
    transform: translateX(50%);
}

.overlay_panel{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}

.overlay--left{
    transform: translateX(-20%);
}

.container.right-panel-active .overlay--left{
    transform: translateX(0);
}

.overlay--right{
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay--right{
    transform: translateX(20%);
}

.btn{
    background-color: var(--blue1);
    background-image: linear-gradient(90deg,var(--blue1) 0%, var(--lightblue) 74%);
    border-radius: 20px;
    border: 1px solid var(--blue1); 
    color: var(--white); 
    cursor: pointer; 
    font-size: 0.8rem; 
    font-weight: bold;
    letter-spacing: 0.1rem; 
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.form > .btn{
    margin-top: 1.5rem;
}

.btn:active{
    transform: scale(0.95);
}

.btn:focus{
    outline: none;
}
    
.from{
    background-color: var(--white); 
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    padding: 0 3rem; 
    height: 100%;
    text-align: center;
}

.input{
    background-color: #fff;
    border: none;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 100%;
}

/*---header---*/
header{
    position: fixed;
    top:0; left:0; right:0;
    background:#238fe2;
    padding:0.5rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
  }
  header .logo{
    height: 40px;
    width: auto;
  }
  header .navbar a{
    font-size: 17px;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #fff;
  }
  header .navbar a.active,
  header .navbar a:hover{
    color: var(--black);
    background: #fff;
  }
  
  
  
  
  header .icon-container{
    display: flex;
    flex-direction: row;
  }
  header .icons{
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    font-size: 17px;
  }
  header .icons #registion_icon {  
    height: 25px; 
  }
  .icons a.login {  
    color: #fff; 
    text-decoration: none; 
    padding: .5rem 1.5rem;
  }  
  .icons a.login:hover {  
    color: var(--black);
    background: #fff;
    border-radius: .5rem;
  }
  
  
  
  /* light dark mode swtich */
  header #switch {
    background-color: #fff;
    border-radius: 25px;
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
    align-items: center;
    margin-top: 6px;
  }
  header #switch .switch input{
    display: none;
  }
  header #switch .switch .slider{
    position: relative;
    cursor: pointer;
    border-radius: 34px;
    transition: .4s;
  }
  header #switch .switch .slider::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 4px;
    bottom: -18px; 
    background: var(--blue);
    border-radius: 50%;
    transition: .4s;
  }
  header #switch .switch input:checked + .slider::before{
    transform: translateX(15px);
  }
  .dark-mode{
    background: #0b0a14;
  }
  
  
  
  
  
  /* header toggler */
  header #toggler{
    display: none;
  }
  header .drop-down-menu{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
  }
  header .drop-down-menu img{
    height: 20px;
    width: auto;
  }


/* Footer */
.footer{
  position: relative;
  top: 300px;
  width: 1158.5px;
  height: 199.2px;
}
.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}
.footer .box-container .box{
  flex-basis: calc(33.33% - 1.5rem); 
  flex-grow: 1; 
}
.footer .box-container .box h3{
  color:var(--black);
  font-size: 25px;
  padding:1rem 0;
}
.footer .box-container .box a{
  display: block;
  color:#666;
  font-size: 15px;
  padding:1rem 0;
}
.footer .box-container .box a:hover{
  color:var(--blue);
  text-decoration: underline;
}
.footer .box-container .box  img{
  margin-top: 1rem;
}
.footer .credit{
  text-align: center;
  padding:1.5rem;
  margin-top: 10px;
  padding-top: 20px;
  font-size: 20px;
  color:var(--black);
  border-top: .1rem solid rgba(0,0,0,.1);
  padding-bottom: 9rem;
}
.footer .credit span{
  color:var(--blue);
}


/* hide reset button */  
input[type="button"] {  
  display: none;  
}  
  
/* Show resetbutton */  
#resetButton {  
  position: relative;
  top: 30px;
  text-indent: -9999px;
  display: block;  
  width: 20px;  
  height: 20px;  
  background-image: url('./img/reset.png');  
  background-size: cover;  
  margin-left: 240px;
}


  /* media queries  */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding:1rem;
    }
    section{
        padding:2rem;
    }
  }
  
  @media (max-width:768px){
    header .drop-down-menu{
        display: block;
    }
    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #toggler:checked .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:var(--blue);
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }
    .purchase-information .icons h3{
        font-size: 2rem;
    }
    .purchase-information .icons span{
        font-size: 1.7rem;
    }  
  }
  
  @media (max-width:450px){
    html{
        font-size: 50%;
    }
  }